node_modules
/.idea/ehd-wallet-app.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/jshint.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/node_modules.7z
/platforms
/www
